body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
 
}

.main{
    background-image: url('./Assets/background-image.png');
     background-size: 100vw;
     height: 550px;
    

}

.logo img{
    width: 150px;
}

header{
    margin-top: 15px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.right-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.register{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #Fe019A;
    border: none;
    color: white;
    border-radius: 5px;
}

section{
    display: flex;
    justify-content: space-around;

}
.chase{
    font-size: 60px;
    font-weight: bold;
}

.harder{
    font-size: 20px;
    color: grey;
}